extends layoutAdmin

block content
    .container-fluid
        .row
            .col-md-4.btn-top-panel
                button.btn.btn-warning(type="button", id="addItemBom") Добавить
                button.btn.btn-success.hidden(type="button", id="addTableBom") Добавить строчку
                button.btn.btn-warning.hidden(type="button", id="cancelTableBom") Убрать строчку
                button.btn.btn-info.hidden(type="button", id="saveItemBom") Сохранить
                button.btn.btn-danger.hidden(type="button", id="cancelItemBom") Отменить
    .addItemtable
    .container-fluid
        .row
            .col-md-12
                table.table.table-hover.table-bordered.table-condensed
                    thead
                        th Номенклатура
                        th Тип спецификации
                        th Расход
                        th ItemConsumpUOM(Ед. изм.)
                        th На кол-во
                        th ItemConsumpPerUOM(Ед. изм.)
                        th Удалить
                    tbody
                        each item in bomParams
                            tr
                                td.nomen=item.ITEMID
                                td.bomtype=item.BOMTYPE
                                td=item.ITEMCONSUMPQTY
                                td.specOne=item.CONSUMPUOMS_ID
                                td=item.ITEMCONSUMPERQTY
                                td.specTwo=item.CONSUMPPERUOMS_ID
                                td
                                    button(type="button", data-id=item.BOMID, data-nameid="BOMID" class="close", aria-hidden="true") &times;
                                    button(type="button", data-red=item.BOMID, class="redactorBom", aria-hidden="true" id=item.BOMID) &#9998;